# macOS
.DS_Store
.Thumbs.db

# virtualenv
venv
.venv

# pyenv
.python-version

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# ansible
*.retry

# Sphinx
build
_build

# ignore generated changelog feeds
source/changelog_feeds/*
!source/changelog_feeds/.gitkeep

# Visual Studio
.vscode
