# macOS
.DS_Store
.Thumbs.db

# virtualenv
venv

# Installer logs
pip-log.txt
pip-delete-this-directory.txt


# ansible
*.retry

# Sphinx
build

# CI
.sshkey

# ignore generated changelog feeds
source/changelog_feeds/*
!source/changelog_feeds/.gitkeep
