
.wy-side-nav-search {
  padding-top: 170px;
  background-image: url("../images/rocket.svg");
  background-position: top;
  background-repeat: no-repeat; 
  background-color: #222222;
}

.wy-nav-side {
  padding-bottom: 3em, 0em;
}

.wy-nav-content {
  background-image: url("../images/footer.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 75%;
}

footer {
  text-align: center;
  font-size: 80%;
  color: #222222;
}

.wy-side-nav-search img {
  background-color: #e2001a;
}

.wy-side-nav-search input[type=text] {
  border-color: #84000f;
}

.wy-menu-vertical a:active {
  background-color: #e2001a;
  cursor: pointer;
  color: #fff;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption :first-child::before {
  content: url("../images/icn-rocket.svg");
  margin-left: -.1618em;
  width: 30px;
  float: left;
  padding: .1618em;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
  margin-top: .809em;
  color:  #999999;
}

.wy-menu-vertical header, .wy-menu-vertical ul.toctree-l1 {
  margin-top: .809em;
  color:  #999999;
}

